# Machine 1 — producers and Spark jobs

KAFKA_BOOTSTRAP_SERVERS=<MACHINE_2_IP>:9092
KAFKA_MARKET_TOPIC=raw_market_ticks
KAFKA_NEWS_TOPIC=raw_news_events

CASSANDRA_HOSTS=<MACHINE_2_IP>
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=market_intel

HDFS_NAMENODE=hdfs://<MACHINE_2_IP>:9000

MLFLOW_TRACKING_URI=http://<MACHINE_2_IP>:5000
MLFLOW_EXPERIMENT_NAME=market-intel-baselines

DATABENTO_API_KEY=your_databento_api_key
DATABENTO_DATASET=XNAS.ITCH
DATABENTO_SCHEMA=ohlcv-1m
DATABENTO_SYMBOLS=AAPL,MSFT,NVDA
DATABENTO_START=2024-05-20T13:30
DATABENTO_END=2024-05-24T20:00

FINNHUB_API_KEY=your_finnhub_api_key
FINNHUB_WS_SYMBOLS=AAPL,MSFT,NVDA,BINANCE:BTCUSDT
FINNHUB_WS_MAX_MESSAGES=20
